
registry.{{ domain_name }}:443 {
    basicauth / bcrypt {
        {{ registry_user }} {{ registry_passwd_hash }}
    }
    reverse_proxy /v2 registry:5000 {
        # header_up Docker-Distribution-Api-Version "registry/2.0"
        # header_up X-Forwarded-Proto "https"
    }
}
