jenkins:
  remotingSecurity:
    enabled: true
  systemMessage: "Welcome to the ultimate Epitech DevOps tool"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ jenkins_admin_user }}
          name: {{ jenkins_admin_user }}
          password: {{ jenkins_admin_passwd }}
  authorizationStrategy:
    roleBased:
      roles:
        global:
          - assignments:
            - "{{ jenkins_admin_user }}"
            name: administrator
            description: "One user to rule them all"
            permissions:
              - "Overall/Administer"
security:
  scriptApproval:
    approvedScriptHashes:
      - "SHA512:ea54824898233ad75a819575efc70cc99d6330c11bdbc3623a6e3e5fd0f0262afe421dddda65957670ae769c700c36063de366120d3eff90294d60c9bab8a195"
unclassified:
  location:
    adminAddress: "address not configured yet <nobody@nowhere>"
    url: "https://jenkins.{{ domain_name }}/"
jobs:
  - file: /var/lib/jenkins/job_dsl.groovy
