# jenkins:
#   remotingSecurity:
#     enabled: true
#   systemMessage: "Welcome to the Chocolatine-Powered Marvin Jenkins Instance."
#   securityRealm:
#     local:
#       allowsSignup: false
#       users:
#         - id: chocolateen
#           name: user
#           password: admin
#   authorizationStrategy:
#     roleBased:
#       roles:
#         global:
#           - assignments:
#             - "chocolateen"
#             name: admin
#             description: "Marvin master"
#             permissions:
#               - "Overall/Administer"
jobs:
  - file: /var/lib/jenkins/job_dsl.groovy