jenkins:
  remotingSecurity:
    enabled: true
  systemMessage: "Welcome to the ultimate Epitech DevOps tool"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ jenkins_admin_user }}
          name: {{ jenkins_admin_user }}
          password: {{ jenkins_admin_passwd }}
  authorizationStrategy:
    roleBased:
      roles:
        global:
          - assignments:
            - "{{ jenkins_admin_user }}"
            name: administrator
            description: "One user to rule them all"
            permissions:
              - "Overall/Administer"
security:
  scriptApproval:
    approvedScriptHashes:
      - "SHA512:723a73e874c9851b4ac7c6be14a3659c6cfc4c7557999fe488dc94260672a00649eeb92156d0f2c1c46897ccbcff594500093523908d200b859d9b06482f3ee5"
unclassified:
  location:
    adminAddress: "address not configured yet <nobody@nowhere>"
    url: "https://jenkins.{{ domain_name }}/"
jobs:
  - file: /var/lib/jenkins/job_dsl.groovy
