jenkins:
  remotingSecurity:
    enabled: true
  systemMessage: "Welcome to the ultimate Epitech DevOps tool"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: admin
          name: {{ jenkins_admin_user }}
          password: {{ jenkins_admin_passwd }}
  authorizationStrategy:
    roleBased:
      roles:
        global:
          - assignments:
            - "admin"
            name: administrator
            description: "One user to rule them all"
            permissions:
              - "Overall/Administer"
jobs:
  - file: /var/lib/jenkins/job_dsl.groovy