jenkins:
  remotingSecurity:
    enabled: true
  systemMessage: "Welcome to the ultimate Epitech DevOps tool"
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ jenkins_admin_user }}
          name: {{ jenkins_admin_user }}
          password: {{ jenkins_admin_passwd }}
  authorizationStrategy:
    roleBased:
      roles:
        global:
          - assignments:
            - "{{ jenkins_admin_user }}"
            name: administrator
            description: "One user to rule them all"
            permissions:
              - "Overall/Administer"
security:
  scriptApproval:
    approvedScriptHashes:
      - "SHA512:5ef0f39f5bcb114efc51b4bf3d33240c533632143c7da0ae7a6cf6ffe303292d29bc6e1109cc390a44f9759e956a3b7de6e3a16c59e239c54835c0c307b51b17"
unclassified:
  location:
    adminAddress: "address not configured yet <nobody@nowhere>"
    url: "https://jenkins.{{ domain_name }}/"
jobs:
  - file: /var/lib/jenkins/job_dsl.groovy
